<section class="body-card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h3>Landing Page</h3>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <a
                    href="#"
                    data-toggle="modal"
                    data-target="#crud-countries"
                    (click)="create()"
                    class="btn btn-primary btn-round-sm"
                    *ngIf="permission.add == true"
                    >Create</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="container table-options">
            <div class="row">
              <div class="col-md-6">
                <mat-paginator
                  [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 30, 50, 100, 250, 500, 1000]"
                  aria-label="Select page"
                >
                </mat-paginator>
              </div>
              <div class="col-md-6">
                <div appearance="standard">
                  <!-- <mat-label>Search your text here</mat-label> -->
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Search your text here"
                    class="search-mat-table"
                    #input
                  />
                </div>
              </div>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef><b> Name </b></th>
              <td mat-cell *matCellDef="let country">{{ country.name }}</td>
            </ng-container>
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef><b> Code </b></th>
              <td mat-cell *matCellDef="let country">{{ country.code }}</td>
            </ng-container>
            <ng-container matColumnDef="url_type">
              <th mat-header-cell *matHeaderCellDef><b> Url type</b></th>
              <td mat-cell *matCellDef="let country">{{ country.url_type }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef><b> Url Target</b></th>
              <td mat-cell *matCellDef="let country">
                {{ country.url_target }}
              </td>
            </ng-container>
            <ng-container matColumnDef="url">
              <th mat-header-cell *matHeaderCellDef><b> Url</b></th>
              <td mat-cell *matCellDef="let country">{{ country.url }}</td>
            </ng-container>

            <ng-container matColumnDef="logo">
              <th mat-header-cell *matHeaderCellDef><b> Logo</b></th>
              <td mat-cell *matCellDef="let country">
                <img
                  src="{{ env }}{{ country.logo }}"
                  style="height: 100px; width: 100px"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef><b> Status </b></th>
              <td mat-cell *matCellDef="let country">
                <a
                  href="javascript:void(0)"
                  class="status-field {{
                    country.status == '1' ? 'text-success' : 'text-danger'
                  }}"
                  >{{ country.status == "1" ? "Active" : "Inactive" }}</a
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="view">
              <th class="text-center" mat-header-cell *matHeaderCellDef>
                <ng-container *ngIf="permission.view == true"
                  ><b>View</b></ng-container
                >
              </th>
              <td class="text-center" mat-cell *matCellDef="let country">
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#crud-countries"
                  class="edit-icon text-primary"
                  *ngIf="permission.view == true"
                  (click)="onView(country)"
                  ><span class="material-icons-outlined"
                    >remove_red_eye</span
                  ></a
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th class="text-center" mat-header-cell *matHeaderCellDef>
                <ng-container *ngIf="permission.edit == true"
                  ><b>Edit</b></ng-container
                >
              </th>
              <td class="text-center" mat-cell *matCellDef="let country">
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#crud-countries"
                  class="edit-icon text-primary"
                  (click)="editOption(country)"
                  *ngIf="permission.edit == true"
                  ><span class="material-icons-outlined">edit</span></a
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th class="text-center" mat-header-cell *matHeaderCellDef>
                <ng-container *ngIf="permission.delete == true"
                  ><b>Delete</b></ng-container
                >
              </th>
              <td class="text-center" mat-cell *matCellDef="let country">
                <a
                  href="javascript:void(0)"
                  class="edit-icon text-danger"
                  (click)="onDelete(country.id)"
                  *ngIf="permission.delete == true"
                  ><span class="material-icons-outlined">delete</span></a
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="noData">
              <th
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="norecord"
              >
                No Records Found!
              </th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [hidden]="dataSource && dataSource.data.length > 0"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td *ngIf="filterValue" class="norecord" colspan="4">
                <b>No data matching with "{{ input.value }}"</b>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal -->
<div
  class="modal fade master-modal-style"
  id="crud-countries"
  data-keyboard="false"
  data-backdrop="static"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ crudName }} Landing Page
        </h5>
      </div>
      <div class="modal-body form-style-md form-style-font linux">
        <div
          id="hide_alert"
          class="alert alert-danger form-error-message my-4"
          *ngIf="error_msg == true"
        >
          {{ ErrorMsg }}
        </div>
        <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Name <b class="star">*</b></mat-label>
                <mat-form-field appearance="legacy">
                  <input
                    matInput
                    placeholder=""
                    formControlName="name"
                    maxlength="100"
                  />
                  <mat-error *ngIf="Error('name', 'required')"
                    >Enter name</mat-error
                  >
                  <mat-error *ngIf="Error('name', 'pattern')"
                    >Alphabets characters only</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Code <b class="star">*</b></mat-label>
                <mat-form-field appearance="legacy">
                  <input
                    matInput
                    placeholder=""
                    formControlName="code"
                    maxlength="100"
                  />
                  <mat-error *ngIf="Error('code', 'required')"
                    >Enter code</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Url type <b class="star">*</b></mat-label>
                <mat-form-field appearance="legacy">
                  <mat-select formControlName="url_type">
                    <mat-option value="">None</mat-option>
                    <mat-option value="Internal">Internal</mat-option>
                    <mat-option value="External">External</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Error('url_type', 'required')"
                    >select Url type
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Open New Tab <b class="star">*</b></mat-label>
                <mat-form-field appearance="legacy">
                  <mat-select formControlName="url_target">
                    <mat-option value="">None</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Error('url_target', 'required')"
                    >Select url_target</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Url <b class="star">*</b></mat-label>
                <mat-form-field appearance="legacy">
                  <input
                    matInput
                    placeholder=""
                    formControlName="url"
                    maxlength="100"
                  />
                  <mat-error *ngIf="Error('url', 'required')"
                    >Enter url</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Logo</mat-label>
                <ng-container *ngIf="crudName != 'View'">
                  <input type="file" (change)="onImageHandler($event)" />
                  <mat-error *ngIf="Error('logo', 'required')"
                    >Enter logo</mat-error
                  >
                </ng-container>
              </div>
              <a href="{{ ImgUrl }}" class="edit-icon text-primary">
                <span class="material-icons-outlined"
                  >sim_card_download</span
                ></a
              >
              <img src="{{ ImgUrl }}" style="height: 100px; width: 100px" />
            </div>
            <div class="col-md-12" hidden>
              <div class="matt-group">
                <mat-form-field appearance="legacy">
                  <input matInput placeholder="" formControlName="created_by" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12" hidden>
              <div class="matt-group">
                <mat-form-field appearance="legacy">
                  <input matInput placeholder="" formControlName="created_ip" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="matt-group">
                <mat-label>Sequence </mat-label>
                <mat-form-field appearance="legacy">
                  <input
                    matInput
                    placeholder=""
                    formControlName="sequence"
                    maxlength="3"
                  />
                  <mat-error *ngIf="Error('sequence', 'pattern')"
                    >Accept numeric values only</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <ng-container [formGroup]="docForm" *ngIf="docForm">
                <!-- <mat-label class="matt-group">Satellite Unit</mat-label> -->
                <ng-container
                  formArrayName="items"
                  *ngFor="
                    let item of docForm.get('items')['controls'];
                    let i = index
                  "
                >
                  <div class="form-row">
                    <ng-container [formGroupName]="i">
                      <div class="matt-group col-md-10">
                        <mat-label>Satellite Unit </mat-label>
                        <mat-form-field appearance="legacy">
                          <input
                            matInput
                            placeholder=""
                            formControlName="satellite_unit"
                          />
                        </mat-form-field>
                      </div>
                      <div class="matt-group col-md-10">
                        <mat-label>URL </mat-label>
                        <mat-form-field appearance="legacy">
                          <input
                            matInput
                            placeholder=""
                            formControlName="url"
                          />
                        </mat-form-field>
                      </div>
                      <div class="matt-group col-md-2 matt-append-button">
                        <button
                          type="button"
                          *ngIf="i == 0"
                          (click)="addMore()"
                          mat-fab
                          color="primary"
                        >
                          <mat-icon>add</mat-icon>
                        </button>
                        <button
                          type="button"
                          *ngIf="i > 0"
                          (click)="removeItem(i)"
                          mat-fab
                          color="warn"
                        >
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-md-12">
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  formControlName="status"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Active</label
                >
              </div>
            </div>
          </div>
          <div class="form-row button-group-lg button-auto mt-2">
            <div class="col-md-6 col-6">
              <button
                type="submit"
                class="btn btn-primary w-100"
                *ngIf="!isReadonly"
              >
                Save
              </button>
            </div>
            <div class="col-md-6 col-6">
              <button
                type="button"
                class="btn btn-outline-primary w-100"
                #closebutton
                data-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
