input[type=file]{
    width:90px;
    color:transparent;
}
.search-mat-table {
  border: 1px solid gray;
  margin-top: 27px;
  border-radius: 4px;
  border-color: #bdb9bb;
  height: 36px;
  margin-left: -8px;
  padding-left: 8px;
}
