<section class="body-card">
    <div class="container-fluid">
        <div class="heading-style5">
            <h3>List of Equipment Marked for Trials</h3>
        </div>
        <div class="filter-card">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="From Date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="To Date">
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Masters
                    </div>
                    <div class="card-body">
                        <div id="barchartcontainer"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Transcations
                    </div>
                    <div class="card-body">
                        <div id="piechartcontainer"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Reports
                    </div>
                    <div class="card-body">
                        <div id="linechartoptions"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        General
                    </div>
                    <div class="card-body">
                        <div id="areachartoptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



