.mat-column-approval {
  text-align: center;
}

.mat-column-approval .badge {
  color: #FFF;
  padding: 6px;
  text-transform: capitalize;
}


.master-modal-style {

  .modal-lg {

    .modal-content {

      .form-style-md {
        .form-row {
          .equipment {}
        }

      }


    }
  }

}

.equipment .mat-select-panel {
  min-width: calc(100% + 100px) !important;
}

.search-mat-table {
  border: 1px solid gray;
  margin-top: 17px;
  border-radius: 4px;
  border-color: #bdb9bb;
  height: 36px;
  margin-left: -8px;
  padding-left: 8px;
}

.mat-form-field-wrapper .mat-form-field-underline {
  display: none !important;
}

@media (min-width: 768px) {

  .col-md-2 {
    flex: 0 0 16.66666667%;
    max-width: 19.66666667%;
  }
}
