table {
  width: auto;
}

table td, table th {
  padding: 2px 10px;
}

.master-modal-style .modal-dialog{background: #fff; box-shadow: 0px 16px 32px rgba(31, 28, 29, 0.03), 0px 6px 24px rgba(31, 28, 29, 0.05);
  border-radius: 16px; padding: 20px !important;}
  .master-modal-style .modal-header{padding: 20px 0 !important;}
.master-modal-style .modal-content {border: none; padding: 0 15px;}
.master-modal-style .modal-body{padding: 15px 0;}
textarea{resize: none;}