<body>
  <app-page-header></app-page-header>
  <div class="container" style="margin-top: 100px; align-items: center">
    <b><h1 style="text-align: center">Indian Naval Hierarchy</h1></b>
    <img
      src="assets/images/ETMA.png"
      style="width: 100%; height: 500px; align-items: center"
    />
    <h3 style="margin-top: 60px; align-items: center">
      Naval ranks and insignia of India
    </h3>
    <hr />
    <p>
      Indian Navy, also known as the Bharatiya Nau Sena, is a naval branch of
      the Indian armed forces whose history can be traced back to 1612. It is a
      wonderful way of seeing the world while serving the country.<br /><br />
      It is the world’s fifth largest and trustworthy 3-dimensional force
      capable of operating above, on and underwaters. A fleet of destroyers,
      submarines, freights and other vessels function under the Indian Navy. The
      Indian Navy is responsible for the defence and protection of maritime
      interests of India.
    </p>
    <p>
      While the provision for the rank of Admiral of the Fleet exists, it is
      primarily intended for major wartime use and honour. No officer of the
      Indian Navy has yet been conferred this rank. Both the Army and Air Force
      have had officers who have been conferred with the equivalent rank Field
      Marshals Sam Manekshaw and K. M. Cariappa of the Army and Marshal of the
      Indian Air Force Arjan Singh. The highest ranked naval officer is the
      Chief of Naval Staff, who holds the rank of full Admiral.They are
      commissioned Sub-lieutenants upon finishing their course of study. The
      Medical Officers and Dental Officers use the prefix "Surgeon" with all the
      respective ranks, for example Surgeon Vice Admiral.
    </p>
    <br />
    <h3>Ranks in the Indian Navy</h3>
    <p>
      The ranks in the Indian Navy are divided into Commissioned, Junior
      Commissioned, and Non-Commissioned Officer.
    </p>
    <br />
    <h3>Commissioned Officer Ranks</h3>
    <div class="container">
      <p>
        <b>Admiral of the fleet</b>: Admiral of the fleet is a military naval
        officer of the highest rank in the Indian Navy. It is an honorary rank,
        which is reserved for wartime or ceremonial appointments. Till now, no
        officer in the Indian Navy has been bestowed with this rank.
      </p>
      <p>
        <b>Admiral </b>: The Chief of the Naval Staff (Admiral) is the commander
        and the highest-ranking officer in the Indian Navy. The position of the
        Chief of the Naval Staff is held by a four-star officer in the rank of
        Admiral.
      </p>
      <p>
        <b>Vice Admiral</b>: Vice Admiral is a senior naval flag officer rank,
        senior to a rear admiral and junior to an admiral.
      </p>
      <p>
        <b>Rear Admiral </b>: Rear Admiral is generally regarded as the lowest
        of the “admiral” ranks, sometimes referred to as “flag officers” or
        “flag ranks”. It is a rank above Commodore, and below a Vice Admiral.
      </p>
      <p>
        <b>Commodore</b>: Commodore is a naval rank, superior to a navy captain,
        but below a rear admiral.
      </p>
      <p>
        <b>Captain</b>: Captain is equal to the army rank of colonel. Any naval
        officer who commands a ship is addressed by naval custom as “captain”
      </p>
      <p>
        <b>Commander</b>: Commander is a naval officer rank equal to a
        lieutenant colonel in the Indian army. Commander is also a generic term
        for an officer commanding any armed forces unit.
      </p>
      <p>
        <b>Lieutenant Commander</b>: The Lieutenant Commander is a commissioned
        officer rank in the Indian Navy. This rank is superior to a lieutenant
        and subordinate to a commander.
      </p>
      <p>
        <b>Lieutenant</b>: Lieutenant is a commissioned officer rank in the
        Indian Navy. It is typically the most senior of junior officer ranks.
        The navy rank of lieutenant is equivalent to an army captain.
      </p>
      <p>
        <b>Sub Lieutenant</b>: A sub-lieutenant is a commissioned officer in the
        Indian Navy, ranking below a lieutenant.
      </p>
    </div>
  </div>
  <app-page-footer></app-page-footer>
</body>
