<app-page-header></app-page-header>
<body class="dashboard landingbody" style="height: 465px">
  <div class="mt-3">
    <img
      class="mt-5"
      style="height: 440px; width: 100%"
      src="assets/images/navy2.jpg"
    />
  </div>

  <div class="blue-strip">
    <span class="strip mb-2"
      ><p>{{ trial_code }} &nbsp; ABOUT &nbsp; US</p></span
    >
  </div>

  <div class="container h-50">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div
          class="card gr-1"
          style="background-image: url('assets/images/shade4.jpg')"
        >
          <div class="txt">
            <h1>WE ARE SIMPLE AND POWERFUL</h1>
            <!-- <p>Indian navy</p> -->
          </div>
          <div class="ico-card">
            <i class="fa fa-rebel"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div
          class="card gr-1"
          style="background-image: url('assets/images/shade1.jpg')"
        >
          <div class="txt">
            <h1>WE ARE Strong</h1>
            <!-- <p>Visual communication and problem-solving</p> -->
          </div>
          <div class="ico-card">
            <i class="fa fa-rebel"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div
          class="card gr-3"
          style="background-image: url('assets/images/patt4.jpg')"
        >
          <div class="txt">
            <h1>We ARE KING OF INDIAN OCCEAN</h1>
            <!-- <p>User Interface and User Experience Design.</p> -->
          </div>
          <div class="ico-card">
            <i class="fa fa-empire"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="body-card">
    <div class="container">
      <!-- <h2 class="text-upper mb-5">About us</h2> -->
      <div class="row">
        <div
          class="col-xl-8 col-lg-8 col-sm-8"
          style="text-align: justify; font-family: sans-serif"
        >
          <div class="blogDetailsArea">
            <div *ngIf="pages && trial_code == 'ETMA'">
              <h5
                class="fw-bold fs-4 text-gray-600 mb-2"
                style="margin: left; text-align: justify"
              >
                About Electrical Trial and Modification Authority (ETMA):
              </h5>
              <p>
                Electrical Trial and Modification Authority (ETMA) is a trusted
                and professional organization specializing in electrical trials,
                modifications, and certifications. With our team of highly
                skilled electrical engineers and technicians, we provide
                comprehensive services to ensure the safety, efficiency, and
                compliance of electrical systems.At ETMA, we understand the
                critical importance of electrical systems in various industries
                and sectors, including residential, commercial, industrial, and
                infrastructure. We are committed to delivering high-quality
                services that meet the specific needs of our clients and help
                them achieve optimal electrical performance.
              </p>
              <h5>Our Services:</h5>
              <p>
                <b>Electrical Trials and Testing</b>: We conduct thorough
                electrical trials and testing to evaluate the performance,
                reliability, and safety of electrical systems. Our experienced
                team utilizes advanced testing equipment and techniques to
                assess parameters such as voltage levels, insulation resistance,
                fault current capacity, and protective device functionality.
              </p>
              <p>
                <b>Electrical System Modifications </b>: ETMA offers
                professional electrical system modification services tailored to
                the unique requirements of our clients. Whether it's upgrading
                existing electrical installations, implementing energy-efficient
                solutions, or integrating new equipment, our team ensures that
                all modifications are carried out safely, adhering to relevant
                codes and regulations.
              </p>
              <p>
                <b>Electrical Safety Certifications</b>: We provide electrical
                safety certifications to validate compliance with industry
                standards and regulatory requirements. Our experts conduct
                detailed inspections and assessments to verify the adherence of
                electrical systems to safety guidelines, enabling clients to
                confidently demonstrate their commitment to electrical safety.
              </p>
              <p>
                <b>Energy Efficiency Assessments </b>: ETMA assists clients in
                optimizing energy efficiency in their electrical systems. Our
                team evaluates energy consumption patterns, identifies areas of
                improvement, and recommends strategies for reducing energy waste
                and lowering operational costs. We help clients make informed
                decisions to achieve sustainability and energy-saving goals.
              </p>
              <p>
                <b>Electrical Consultation and Advisory </b>: We offer
                consultation and advisory services to support clients in making
                informed decisions regarding their electrical systems. Our
                experts provide technical expertise, feasibility studies, and
                recommendations on system design, equipment selection, power
                distribution, and compliance with electrical regulations.
              </p>
            </div>
            <div *ngIf="pages && trial_code == 'CBIU'">
              <h5
                class="fw-bold fs-4 text-gray-600 mb-2"
                style="margin: left; text-align: justify"
              >
                About Central Boiler Inspection Unit:
              </h5>
              <p>
                Central Boiler Inspection Unit (CBIU) is a trusted and
                professional provider of boiler inspection and certification
                services. Our dedicated team of highly skilled engineers and
                inspectors brings extensive knowledge and expertise in the field
                of boilers, ensuring the safety, compliance, and efficient
                operation of boiler systems. At CBIU, we recognize the critical
                role that boilers play in various industries, including
                manufacturing, power generation, healthcare, hospitality, and
                more. We are committed to helping our clients maintain the
                highest standards of boiler safety, performance, and regulatory
                compliance.
              </p>
              <h5>Our Services</h5>
              <p>
                <b>Boiler Inspection and Certification </b>: We offer
                comprehensive boiler inspection services to assess the
                condition, integrity, and compliance of boilers. Our certified
                inspectors meticulously examine all components of the boiler
                system, including pressure vessels, piping, controls, safety
                devices, and auxiliary equipment, ensuring adherence to relevant
                codes, regulations, and standards.
              </p>
              <p>
                <b>Boiler Safety Evaluation</b>: CBIU conducts thorough safety
                evaluations to identify potential hazards and risks associated
                with boiler systems. Our experts assess critical safety
                features, such as pressure relief valves, water level controls,
                combustion controls, and fuel safety devices, providing
                recommendations to enhance safety measures and minimize the risk
                of accidents or equipment failures.
              </p>
              <p>
                <b>Performance Assessment and Optimization</b> : We evaluate the
                performance of boiler systems to ensure optimal efficiency and
                energy utilization. Our team analyzes parameters such as fuel
                consumption, emissions, heat transfer efficiency, and combustion
                characteristics to identify opportunities for performance
                optimization, energy savings, and emission reduction.
              </p>
              <p>
                <b>Regulatory Compliance </b>: CBIU helps clients navigate
                complex regulatory requirements and ensures compliance with
                local, national, and international boiler safety and
                environmental standards. We assist in obtaining necessary
                certifications, licenses, and permits, and provide guidance on
                compliance strategies, documentation, and reporting.
              </p>
              <p>
                <b>Consulting and Training</b>: We offer consulting services to
                support clients in making informed decisions regarding boiler
                systems. Our experts provide technical guidance, feasibility
                studies, and recommendations on equipment upgrades,
                retrofitting, maintenance practices, and operational
                improvements. We also conduct training programs to educate
                boiler operators and maintenance personnel on best practices,
                safety protocols, and regulatory compliance.
              </p>
            </div>
            <div *ngIf="pages && trial_code == 'DTTT'">
              <h5
                class="fw-bold fs-4 text-gray-600 mb-2"
                style="margin: left; text-align: justify"
              >
                About Diesel Testing and Tuning Team:
              </h5>
              <p>
                Diesel Testing and Tuning Team (DTTT) is a renowned provider of
                specialized services in diesel engine testing, tuning, and
                performance optimization. Based in [Location/City], our
                dedicated team of experts brings extensive knowledge and
                experience in the field of diesel engines to deliver exceptional
                solutions to clients across various industries.At DTTT, we
                recognize the vital role that diesel engines play in a wide
                range of applications, including automotive, marine, industrial,
                and power generation sectors. We are committed to helping our
                clients achieve optimal performance, efficiency, and reliability
                from their diesel engine systems.
              </p>
              <h5>Our Services</h5>
              <p>
                <b>Diesel Engine Testing </b>: We offer comprehensive diesel
                engine testing services to evaluate the performance, emissions,
                and operational characteristics of your engine. Using advanced
                testing equipment and techniques, we conduct thorough analysis
                and provide precise data for performance assessment and
                improvement.
              </p>
              <p>
                <b>Tuning and Optimization</b>: Our skilled team of engineers
                specializes in diesel engine tuning and optimization. We work
                closely with clients to understand their specific requirements
                and tailor our tuning strategies to enhance engine performance,
                fuel efficiency, and emissions control.
              </p>
              <p>
                <b>Performance Enhancement</b> :DTTT provides performance
                enhancement services for diesel engines. By analyzing engine
                parameters, combustion characteristics, and system components,
                we identify areas for improvement and recommend targeted
                modifications or upgrades to achieve optimal power output,
                reliability, and longevity.
              </p>
            </div>
            <div *ngIf="pages && trial_code == 'GTTT'">
              <h5
                class="fw-bold fs-4 text-gray-600 mb-2"
                style="margin: left; text-align: justify"
              >
                About GTTT:
              </h5>
              <p>
                Gas Turbine Testing and Tuning Team (GTTT) Mumbai is a leading
                provider of specialized services in gas turbine testing, tuning,
                and performance optimization. Our dedicated team of experts
                brings together extensive knowledge and experience in the field
                of gas turbines to deliver high-quality solutions to clients in
                Mumbai and beyond.At GTTT Mumbai, we understand the critical
                role that gas turbines play in various industries, including
                power generation, oil and gas, aviation, and more. We are
                committed to helping our clients achieve optimal performance,
                efficiency, and reliability from their gas turbine systems.
              </p>
              <h5>Our Services</h5>
              <p>
                <b>Gas Turbine Testing</b>: We offer comprehensive gas turbine
                testing services to assess the performance, efficiency, and
                emissions of your turbine system. Our advanced testing
                methodologies and state-of-the-art equipment allow us to
                accurately measure and analyze various parameters to identify
                areas for improvement.
              </p>
              <p>
                <b>Tuning and Optimization</b>: : Our team of skilled engineers
                specializes in gas turbine tuning and optimization. We work
                closely with clients to understand their specific requirements
                and tailor our tuning strategies to enhance turbine performance,
                reduce fuel consumption, and minimize emissions.
              </p>
              <p>
                <b>Performance Evaluation</b>: GTTT Mumbai provides detailed
                performance evaluation services for gas turbines. Through
                comprehensive data analysis and performance modeling, we
                identify potential issues, evaluate operational parameters, and
                recommend optimization measures to maximize efficiency and
                reliability.
              </p>
              <p>
                <b>Troubleshooting and Diagnostics </b>:Our experts are
                well-versed in troubleshooting gas turbine issues. We utilize
                advanced diagnostic tools and techniques to identify and resolve
                operational problems, minimizing downtime and improving overall
                turbine performance.
              </p>
              <p>
                <b>Consulting and Advisory</b>: GTTT Mumbai offers consulting
                and advisory services to support clients in making informed
                decisions regarding their gas turbine systems. Our team provides
                technical expertise, feasibility studies, and recommendations on
                upgrades, retrofits, and maintenance strategies to optimize
                long-term performance and cost-effectiveness.
              </p>
            </div>
            <div *ngIf="pages && trial_code == 'MTU'">
              <h5
                class="fw-bold fs-4 text-gray-600 mb-2"
                style="margin: left; text-align: justify"
              >
                About MTU:
              </h5>
              <p>
                Machinery Trial Units (MTU) is a leading provider of
                comprehensive testing and trial services for industrial
                machinery and equipment. With our state-of-the-art facilities
                and a highly skilled team, we offer specialized testing
                solutions to clients in diverse industries, including
                manufacturing, construction, energy, and more.At MTU, we
                understand the critical importance of ensuring the performance,
                reliability, and safety of machinery and equipment. Our
                dedicated team of experts is committed to conducting thorough
                trials and tests to validate and optimize the functionality and
                efficiency of your machinery.
              </p>
              <h5>Our Services</h5>
              <p>
                <b>Machinery Testing and Evaluation</b>: We provide
                comprehensive testing and evaluation services for a wide range
                of machinery and equipment. Our advanced testing methodologies
                and equipment allow us to assess performance, durability, load
                capacity, and other key parameters to ensure compliance with
                industry standards and client requirements.
              </p>
              <p>
                <b>Functionality and Performance Trials</b>: MTU conducts
                functionality and performance trials to verify the intended
                operation and performance of machinery under real-world
                conditions. Through rigorous testing protocols, we identify any
                potential issues, optimize machine settings, and recommend
                improvements to enhance overall performance and productivity.
              </p>
              <p>
                <b>Safety and Compliance Testing</b>: We prioritize safety in
                machinery operations. Our team conducts safety testing to
                evaluate the compliance of machinery with relevant safety
                standards and regulations. We identify potential hazards, assess
                risk levels, and provide recommendations to enhance safety
                features and mitigate risks.
              </p>
              <p>
                <b>Load Testing and Capacity Analysis</b> : MTU specializes in
                load testing and capacity analysis for machinery. By subjecting
                the equipment to simulated and measured loads, we determine the
                maximum load capacity, assess stress levels, and ensure that the
                machinery operates within safe and optimal limits.
              </p>
              <p>
                <b>Customized Trials and Testing</b>: We understand that
                different machinery and industries have unique requirements. MTU
                offers customized trial and testing programs tailored to the
                specific needs of our clients. We collaborate closely with our
                clients to design and execute trials that address their specific
                goals and challenges.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="admin-box">
            <a>
              <div class="img-div">
                <img
                  _ngcontent-rgv-c371=""
                  style="height: 350px; width: 400px"
                  src="assets/images/ins.jpg"
                />
              </div>
            </a>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="img-div">
        <img
          _ngcontent-rgv-c371=""
          style="height: 480px; width: 1100px"
          src="assets/images/navy2.jpg"
        />
      </div>
    </div>
  </section>
  <app-page-footer></app-page-footer>
</body>
