<footer class="innerfooter">
  <section class="innerfooter-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-12">
          <div class="footer-box">
            <h4>Contact Us</h4>
            <div class="footer-content">
              <ul>
                <li>
                  K.Kamaraj Road, Near Udyog Bhavan Metro, New, Vijay Chowk
                  Area, Central Secretariat,
                  <br />
                  New Delhi, Delhi 110011
                </li>
                <li>Email: Trialagencymodule@indiannavy.mil</li>
                <li>Phone: +91 3075</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
          <div class="footer-box userfullinks">
            <h4>Useful Links</h4>
            <div class="footer-content">
              <ul>
                <li><a href="#">Home</a></li>
                <li>
                  <a
                    href="javascript:void(0)"
                    routerLink="/authenticate/about-us"
                    >About Us</a
                  >
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    routerLink="/authenticate/contact-us"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
          <div class="footer-box">
            <h4>Newsletter</h4>
            <div class="footer-content">
              <div class="form-group">
                <p>Subscribe to our newsletter</p>
                <div class="subscribe">
                  <input class="form-control" placeholder="Your email here" />
                  <a href="javascript:;" class="send-btn"
                    ><span class="iconify" data-icon="ic:baseline-email"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="innerfooter-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>© 2023 ETMA All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
