<section class="login-page">
	<div class="container-fluid">
		<div class="login-cover">
			<div class="row no-gutters d-flex align-items-center">
				<div class="col-md-7">
					<div class="login-leftbg" style="background: url(../assets/images/leaf-patten.png) no-repeat right top #651137;">
						<img src="assets/images/login-image.png" class="img-fluid" alt="" title="">
					</div>
				</div>
				<div class="col-md-5 col-12">
					<div class="login-box">
						<div class="logo text-center">
							<img src="assets/images/logo.png">
							<!-- <h1>Sign in to Stemz Global</h1> -->
						</div>
						<div class="login-form">
							<h3>Forgot Password?</h3>
							<p>Please enter the email address to reset your password</p>
					  		<div class="form-group-label">
					  		  <mat-label>Email <b class="star">*</b></mat-label>
							  <mat-form-field appearance="legacy">
							    <input matInput placeholder="">
							  </mat-form-field>
							</div>
							<div class="mt-2">
								<button mat-raised-button color="primary" class="w-100" routerLink="/authenticate/security-pin">Send</button>
							</div>
					  	</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</section>

