/*Login*/
.login-page{padding: 0 50px; position: absolute; transform: translate(0,-50%); top: 50%; left: 0; right: 0;}
.logo{margin-bottom: 30px;}
.logo img{max-width: 125px;}
.logo h1{font-size: 28px; font-weight: 500; color: #332F31; margin: 15px 0 20px;}
.w-100{width: 100%;}
.image-right{padding-left: 50px;}

.login-leftbg{background: #0B014A; padding: 100px 50px 80px 50px; text-align: center; position: relative;}
.login-leftbg img{width: 50%;}
.login-box{box-shadow: 0px 16px 32px rgba(31, 28, 29, 0.03), 0px 6px 24px rgba(31, 28, 29, 0.05);
border-radius: 16px; background: #fff; padding: 24px 80px 48px; margin-left: -50px;}
.login-box mat-label{font-size: 16px; font-weight: 600; color: #736D70; margin-bottom: 10px; display: block;}
.login-box mat-label .star{color: #f01414;}

.login-form button{padding: 8px 10px; font-size: 18px; box-shadow: none;}
.mat-raised-button.mat-primary{background: #651037; border-radius: 50px;}
.login-form p{margin-bottom: 0;}
.remember-link mat-checkbox, .remember-link a{font-size: 14px; color: #736D70;}

.login-form h3{font-size: 18px; color: #332F31; font-weight: 700; margin: 0 0 10px;}
.login-form p{font-size: 16px; color: #736D70; margin-bottom: 20px;}

