.mat-snack-bar-container.success-message{background:#FCEDF4 !important;color:#000;border-radius:40px;margin:100px 0 0 !important;}
.mat-snack-bar-container.success-message svg{color:#28A745 !important;font-size:24px;}
.mat-snack-bar-container.success-message p{margin:0 !important;font-size:12px;font-weight:bold;}