<section class="body-card">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header">
                  <div class="row">
                     <div class="col-md-6">
                        <h3>Template</h3>
                     </div>
                     <div class="col-md-6">

                     </div>
                  </div>
               </div>
             <!--   <div class="container table-options">
                  <div class="row">
                     <div class="col-md-6">
                        <mat-paginator [length]="100" [pageSize]="10"  [pageSizeOptions]="[10,20,30,50,100,250,500,1000]" aria-label="Select page" >
                        </mat-paginator>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Search your text here</mat-label>
                            <input matInput (keyup)="applyFilter($event)" class="search-mat-table" #input >
                        </mat-form-field>
                     </div>
                  </div>
               </div> -->
               <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="name">
                     <th mat-header-cell *matHeaderCellDef><b> Name </b></th>
                     <td mat-cell *matCellDef="let data"> {{data.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="code">
                     <th mat-header-cell *matHeaderCellDef><b>  Code </b></th>
                     <td mat-cell *matCellDef="let data"> {{data.code}} </td>
                  </ng-container>
                  <ng-container matColumnDef="description" >
                     <th mat-header-cell *matHeaderCellDef><b> Description </b></th>
                     <td mat-cell *matCellDef="let data"> {{data.description?data.description:'-'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="view" >
                     <th class="text-center" mat-header-cell *matHeaderCellDef ><ng-container *ngIf="permission.view==true" ><b>View</b></ng-container></th>
                     <td class="text-center" mat-cell *matCellDef="let data">
                        <a href="#" data-toggle="modal" data-target="#crud-countries" class="edit-icon text-primary" *ngIf="permission.view==true" (click)="onView(data)"><span class="material-icons-outlined">remove_red_eye</span></a></td>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                     <th class="text-center" mat-header-cell *matHeaderCellDef><ng-container *ngIf="permission.edit==true"><b> Edit</b></ng-container></th>
                     <td class="text-center" mat-cell *matCellDef="let data"><a href="#" data-toggle="modal" data-target="#crud-countries" class="edit-icon text-primary" (click)="onEdit(data)" ><span class="material-icons-outlined" *ngIf="permission.edit==true">edit</span></a></td>
                  </ng-container>
                  <ng-container matColumnDef="noData">
                     <th mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="norecord">
                         No Records Found!
                     </th >
                   </ng-container>
                   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource.data.length > 0"></tr>
                  <!--  <tr class="mat-row" *matNoDataRow>
                     <td *ngIf="filterValue" class="norecord"  colspan="4"><b>No data matching with "{{input.value}}"</b></td>
                  </tr> -->
               </table>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- modal -->

<div class="modal fade master-modal-style master-modal-style" id="crud-countries" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Template</h5>
         </div>
         <div class="modal-body form-style-md form-style-font linux">
            <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
            </div>
            <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
               <div class="col-md-12" hidden>
                  <div class="matt-group">
                     <mat-label> Id</mat-label>
                     <mat-form-field appearance="legacy">
                        <input matInput placeholder="" formControlName="id" >
                     </mat-form-field>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="matt-group">
                     <mat-label> Id</mat-label>
                     <mat-form-field appearance="legacy">
                        <input matInput placeholder="" formControlName="id" >
                     </mat-form-field>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="matt-group">
                     <mat-label>Code <b class="star">*</b></mat-label>
                     <mat-form-field appearance="legacy">
                        <input matInput placeholder="" class="code_field" readonly="true" formControlName="code" maxlength="15" >
                        <mat-error *ngIf="Error('code','required')">Enter code</mat-error>
                        <mat-error *ngIf="Error('code','pattern')">Alpha-numeric characters only</mat-error>
                     </mat-form-field>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="matt-group">
                     <mat-label>Select country </mat-label>
                     <mat-form-field appearance="legacy">
                        <mat-select formControlName="country" (selectionChange)="countrySelection($event)">
                        <mat-option>None</mat-option>
                         <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
                     </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="matt-group">
                     <mat-label>Select center </mat-label>
                     <mat-form-field appearance="legacy">
                        <mat-select formControlName="center" (selectionChange)="centerSelection($event)">
                        <mat-option>None</mat-option>
                         <mat-option *ngFor="let center of centers" [value]="center.id">{{center.name}}</mat-option>
                     </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="alert alert-warning">Do not change the text between <b>&#123; &#123; and &#125; &#125;</b> </div>
               </div>
               <div class="col-md-12">
                  <button type="button" class="btn btn-primary reset-edtior {{ isReadonly?'hide':'' }}" (click)="onReset()">Reset Template</button>
                  <angular-editor formControlName="modified_template" [config]="editorConfig" ></angular-editor>
               </div>

            </div>
            <div class="form-row button-group-lg button-auto mt-2">
               <div class="col-md-6 col-6">
                  <button type="submit" class="btn btn-primary w-100" *ngIf="!isReadonly">Save</button>
               </div>
               <div class="col-md-6 col-6">
                  <button type="button" class="btn btn-outline-primary w-100" (click)="close()"#closebutton data-dismiss="modal">Cancel</button>
               </div>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
